{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="">
      <title>CALENDER</title>

      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  




  </head>

  <body> 


    <div class="container">
 

      <div class="row">
   
        {% block content %}
    	    
    	  {% endblock %}

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>&copy; Copyright 2018 <a href="http://affroapps.com">affroapps</a> .</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

  </body>
</html>
