{% extends 'cal/base.html' %}

{% block content %}
	<div class="container">
		<div class="calender_entry col-lg-4">1</div>
		<div class="calender_entry col-lg-4">2</div>
		<div class="calender_entry col-lg-4">3</div>
	</div>
{% endblock content %}